body{
  /* background-color: orange; */
  background-color: black;
}
.siri{
  display: flex;
  flex-direction: row;
}
.container_flex-4{
  position: absolute;
  right: 0;
}
.container-flex{
  color: white;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
}


.container-flex h1{
font-family: 'Rubik', sans-serif;
  font-size: 60px;
  color: green;

}
#countdown{


  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: blue;
}
#btn{
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
}
#sus{
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
}

.kk{
position: absolute;
  right: 0;
  color: yellow;
  border: 10px solid white; 
  /* background-color:#5533FF; */
}
ul{
  padding: 10px;
}
.item{
  padding: 10px;
  padding-left: 0;
}

.container-flex{
  width: 100px;
	height: 100px;

	position: absolute;

	left:0;

	margin: auto;
}


/* .container_flex-2{
  position: absolute;
  right: 0;
}
.container_flex-3{
  position: absolute;
  right: 0;
} */
.div1{
  position: relative;
  right: -80px;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 30px;
}
.hehe{
  background: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.footer {
	background-color: #454545;
	color: #ffffff;
	padding: 15px;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
}
